*{
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 0;
    margin: 0;
    color:#868A90;
}
/* Heading */
#menu {
    display: flex;
    justify-content: space-around;
    margin-top: 18px;
}

#left-menu {
    display: flex;
    justify-content: space-around;
    width: 20%;
    align-items: center;
}

#right-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Body */
#body{
    margin:auto;
    width: 1122px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* height: 4500px; */
}
.text-green{
    color:#459D7A
}
.text-black{
    color: black;
    opacity: 80%;
}
.text-white{
    color: white;
    opacity: 80%;
}
.vertical{
    vertical-align:super;
}
/* Detail */
#detail{
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    
}
#heading-detail{
    display: flex;
    justify-content: space-between;
    width: 350px;
}

#body-detail{
    display: flex;
    justify-content: space-between;
}
#left-body-detail{
    display: flex;
    justify-content:center;
    margin-top:10px;
}
#img-detail{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 550px;
}
#big-img{
    position: relative;
}
#bestseller{
    position: absolute;
    width: 90px;
    height: 30px;
    background-color: #ffc970;
    text-align: center;
    border-radius: 20px;
    border: none;
    right: 10px;
}
#right-body-detail{
    padding-left: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 600px;
}
#price{
    display: flex;
    justify-content: space-between;
    width: 110px;
    align-items: center;
}
#box-chosse-size{
    width: 500px; 
    height: 40px;
    background-color: #f3f4f6;
}
#buttons_added{
    display: flex;
    justify-content: space-around;
    width: 150px;
}
#quantity{
    width: 40px;
    height: 44px;
    background-color: #f3f4f6;
    border-radius: 5px;
    text-align: center;
    border: none;
}
#buttons-buy{
    display: flex;
    justify-content: space-between;
}
#button-add-bag, #add-bag-checkout{
    width: 240px;
    height: 50px;
    border: 1px solid;
    border-color: #459D7A;
    background-color: white;
    font-size: 18px;
    border-radius: 5px;
}
#add-bag-checkout{
    background-color: #459D7A;
}

#review{
    display: flex;
    justify-content: space-between;
    width: 300px;
}
/* Related products */
#related-products{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 540px;
}
#body-related-products{
    display: flex;
    justify-content: space-around;
}
.flex-price{
    display: flex;
    justify-content: space-between;
}
.price-product{
    font-size: 30px;
    color: black;
}
#fisrt, #second, #third, #fourth{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 460px;
}
.pic-bestseller{
    position: relative;
}
.text-bestseller{
    position: absolute;
    width: 85px;
    height: 20px;
    border-radius: 15px;
    background-color: #ffc970;
    text-align: center;
    top: 10px;
    right: 10px;
}
/* Menu-body */
#menu-body{
    display: flex;
    justify-content: space-between;
    width: 1000px;
    margin: auto;
}
.split{
    width: 1px;
    height: 40px;
    background-color: #f3f4f6;
}
.hover:hover{
    background-color: #C3E5D8;
    border-radius: 3px;
}
.hover{
    width: 250px;
    font-size: 20px;
    text-align: center;
    padding-top: 6px;
}
/* Benefit */
#text-benefit{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 450px;
    padding-bottom: 40px;
}
.bold-text-benefit{
    font-size: 20px;
    color: black;
    opacity: 80%;
}
.small-text-benefit{
    padding-top: 5px;
    line-height: 24px;
}
#benefit {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
/* Ingredient */
#ingredients {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 480px;
}
#ing{
    display: flex;
    justify-content: space-between;
}
.img-ing{
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}
.bold-text-ing{
    color: black;
    opacity: 80%;
    font-size: 22px;
}
.text-ing{
    width: 350px;
    padding-top: 5px;
}
#ing-left, #ing-center, #ing-right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 320px;
}
#see-full-list{
    width: 180px;
    height: 25px;
    border: 1px solid green;
    border-radius: 5px;
    text-align: center;
    padding-top: 5px;
    margin-left: 45%;
}
/* How to use */
#how{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 670px;
}
#video{
    position: relative;
}
#img-video{
    width: 1090px;
    height: 600px;
}
#linkvideo{
    width: 165px;
    height: 50px;
    background-color: #171A1F;
    position: absolute;
    top:300px;
    margin-left: 45%;
    color: white;
    font-size: 18px;
    
}
/* Reviews */
#body-reviews{
    display: flex;
    justify-content: space-between;
}
#heading-reviews{
    display: flex;
    justify-content: space-between;
}
#write{
    width: 160px;
    height: 30px;
    border: 1px solid #459D7A;
    border-radius: 3px;
    background-color: white;
    position: relative;
    color: #459D7A;
}
#img-pencil{
    width: 20px;
    height: 20px;
    position: absolute;
    right: 230px;
    padding-top: 3px;
}
#first-review, #second-review, #third-review, #fourth-review, #fiveth-review, #sixth-review{
    display: flex;
    justify-content: space-between;
    width: 280px;
}
#left-reviews{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 250px;
    width: 400px;
    padding-top: 20px;
}
.star-review{
    padding-top: 6px;
}
#right-reviews{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 380px;
    width: 800px;
}
.img-person{
    width: 45px;
    height: 45px;
}
.flex-person-review{
    display: flex;
    justify-content: space-between;
    width: 210px;
}
.text-review{
    font-size: 15px;
}
#person1, #person2, #person3{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90px;
}
#number-page{
    display: flex;
    justify-content: space-around;
    width: 350px;
    padding-left: 50px;
}
#range{
    width: 25px;
    height: 25px;
    border: 1px solid #459D7A;
    border-radius: 50%;
    padding-bottom: 20px;
    background-color: #FAFBFB;
}

.img-star{
    padding-top: 7px;
}
#reviews{
    width: 100%;
    height: 500px;
    background-color: #FAFAFB;
    padding-top: 40px;
}
/* FAQs */
#body-faqs{
    display: flex;
    justify-content: space-between;
}
#first-left-body-faqs,#second-left-body-faqs, #third-left-body-faqs, #first-right-body-faqs, #second-right-body-faqs, #third-right-body-faqs, #forth-right-body-faqs{
    width: 520px;
    border: 1px solid;
    border-radius: 5px;
    position: relative;
    padding-left: 15px;
    padding-top: 20px;
}
#first-left-body-faqs{
    height: 90px;
    border: 2px solid #459D7A;
    padding-top: 17px;
    font-size: 14px;
    line-height: 20px;
}
.caret{
    position: absolute;
    right: 15px;
    top: 13px;
}
.width-text1{
    width: 480px;
}
#second-left-body-faqs{
    height: 60px;
    line-height: 21px;
}
.width-text2{
    width: 400px;
}
#third-left-body-faqs{
    height: 60px;
}
.width-text3{
    width: 400px;
}
#left-body-faqs{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 310px;
}
#first-right-body-faqs{
    height: 40px;
}
#second-right-body-faqs{
    height: 60px;
}
.width-text5{
    width: 400px;
}
#third-right-body-faqs{
    height: 60px;
}
.width-text6{
    width: 400px;
}
#forth-right-body-faqs{
    height: 35px;
}
#right-body-faqs{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 330px;
}
/* Footer */
#footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 401px;
    background-color: #1D2128;

}
#left-footer {
    display: flex;
    justify-content: space-around;
    width: 500px;
    line-height: 30px;
    color: white;
}
#right-footer {
    display: flex;
    flex-direction: column;
    align-items: initial;
    justify-content: space-between;
    height: 160px;
}
#About-footer,#Help-footer,#Contact-footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#About-footer{
    height: 240px;
}
#Help-footer{
    height: 150px;
}
#Contact-footer{
    height: 180px;
}
.text-size{
    font-size: 14px;
}
#email{
    display: flex;
    justify-content: center;
}
.input-email{
    width: 270px;
    height: 40px;
    border: 1px solid rgb(216, 214, 214);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: #1D2128;
}
.subscribe{
    width: 120px;
    height: 42px;
    border: 1px solid #459D7A;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px ;
    background-color: #459D7A;
}