    * {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    
    #wrapper {
        display: flex;
        justify-content: center;
    }
    
    #container {
        display: flex;
        justify-content: space-between;
        width: 1440px;
    }
    
    #center {
        width: 800px;
    }
    
    #right {
        width: 400px;
        border-left: 1px solid #d3d6d6;
        font-size: 14px;
    }
    
    #left {
        width: 78px;
        height: 870px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-right: 1px solid #d3d6d6;
    }
    
    #left_above {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    #below {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .item {
        width: 32px;
        margin-top: 50px;
    }
    
    .logo {
        width: 55px;
    }
    
    #setting {
        margin-top: 36px;
    }
    
    .text-header-center {
        font-size: 25px;
    }
    #center{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 860px;
        margin-left: 20px;
    }
    .first-center {
        display: flex;
        justify-content: space-between;
        margin-top: 15px;
    }
    
    .second-center {
        display: flex;
        justify-content: start;
        align-items: center;
    }
    
    .record{
        width: 80px;
        height: 33px;
        border: 2px solid #f88689;
        border-radius: 30px; 
        position: relative;
    }
    .record-text{
        font-size: 14px;
        color: #f22128;
        text-align: center;
        font-weight: 500;
        margin-top: 9px;
        margin-left: 15px;
    }
    .range{
        font-size: 60px;
        color: #f22128;
        position: absolute;
        margin-top: -21px;
    }
    .second-center-item1 {
        margin-left: 15px;
    }
    
    .second-center-item2 {
        margin-left: 30px;
    }
    
    .third-center {
        position: relative;
    }
    
    .third-center-box1 {
        width: 185px;
        height: 35px;
        border: 1px solid rgb(110, 106, 106);
        border-radius: 3px;
        background-color: rgb(110, 106, 106);
        text-align: center;
        color: white;
        position: absolute;
        top: 15px;
        left: 25px;
        font-size: 15px;
        font-weight: 100;
    }
    .img-big{
        width:99%;
    }
    .third-center-box1-text {
        margin-top: 10px;
        margin-left: 10px;
    }
    .range-blue{
        font-size: 60px;
        color: #1DD75B;
        position: absolute;
        margin-top: -20px;
        
    }
    .third-center-box2 {
        position: absolute;
        top: 15px;
        right: 50px;
    }
    
    .fourth-center {
        display: flex;
        justify-content: space-between;
    }
    .person1, .person2, .person3{
        position: relative;
    }
    
    
    .online{
        width: 110px;
        height: 25px;
        font-size: 12px;
        border: 1px solid #7c7d7d;
        border-radius: 8px;
        background-color: #7c7d7d;
        opacity: 70%;
        position: absolute;
        margin-top: 8px;
        margin-left: 6px;
    }
   
    .name{
        margin-left: 18px;
        margin-top: 6px;
        color: white;
    }
    .range-blue-small{
        font-size: 50px;
        color: #1DD75B;
        position: absolute;
        margin-top: -20px;
        margin-left: -8px;
    }
    
    .mic-small{
        position: absolute;
        width: 28px;
        height: 30px;
        margin-left: 225px;
        margin-top: 5px;
        opacity: 70%;
    }
    .mic-small2{
        position: absolute;
        margin-left: 225px;
        margin-top: 8px;
        width: 20px;
        height: 20px;
        background-color: white;
        opacity: 70%;
    }
    .img-smallperson{
        border-radius: 10px;
    }

    .fiveth-center{
        display: flex;
        justify-content: space-between;
        width: 500px;
        margin-left: 160px;
    }
    .end{
        width: 130px;
        height: 40px;
        background-color: #f22128;
        color: white;
        border-radius: 3px;
        position: relative;
    }
    .end-meeting{
       position: absolute;
       margin-top: 10px;
       margin-left: 15px;
    }
    .participants{
        font-weight: 600;
        font-size: 22px;
    }
    .num-participants{
       
        width: 20px;
        height: 25px;
        border-radius: 30px;
        background-color: #fdf2f4;
        font-size: 14px;
        position: relative;
    }
    .num4-participants{
        color: #f88689;
        margin-top: 5px;
        margin-left: 5px;
        position: absolute;
    }
    .box-add{
        position: relative;
        width: 60px;
        height: 30px;
        border: 1px solid #f88689;
        border-radius: 5px;
    }
    .add{
        position: absolute;
        color: #f22128;
        margin-top: 7px;
        margin-left: 10px;
    }
    .first-top-right{
        display: flex;
        justify-content: space-between;
    }
    .left-first_top_right{
        display: flex;
    }
    .top-right{
        width: 360px;
        margin-left: 15px;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 240px;
        border-bottom: 1px solid #d3d6d6;
    }
    .more{
        font-size: 26px;
        color: #7c7d7d;
        font-weight: 700;
    }
    .second-top-right, .third-top-right, .fourth-top-right, .fiveth-top-right{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .left-second_top_right{
        display: flex;
        justify-content: space-between;
        width: 170px;
        align-items: center;
    }
    .right-second_top_right{
        display: flex;
        justify-content: space-between;
        width: 80px;
        height: 20px;
        align-items: center;
    }
    .left-third_top_right{
        display: flex;
        justify-content: space-between;
        width: 140px;
        align-items: center;
    }
    .left-fourth_top_right{
        display: flex;
        justify-content: space-between;
        width: 130px;
        align-items: center;
    }
    .left-fiveth_top_right{
        display: flex;
        justify-content: space-between;
        width: 135px;
        align-items: center;
    }
